.input-group-file{
	width:auto;
}
.input-group-file input[type="text"]{
	width:70%;
	float:left;
	padding-left:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-right:0px;
	cursor:default !important;
	background-color: white !important;
}
.input-group-file label{
	width:30%;
	float:left;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	
}
.input-group-file input[type="file"]{
	position: absolute !important; 
	left: -9999px !important; 
}